{% extends "layouts/l00-preview/l00-index.njk" %}

{% set title = 'Darvin Boilerplate' %}


{% block preview %}

    <div is="card-index">
        <h2 slot="title">
          {{ category }}
        </h2>
    </div>


{% endblock %}
