/* ==|====================
   Layout / Servicenav
   ======================= */

$preview-index-spacer: 0.5rem;

.prev-m-index {
  display: flex;
  padding: 0 2rem;
}

.prev-m-index__title {
  color: $color3;
}

.prev-m-index__col {
  flex: 1;
  padding: 1rem;
}

.prev-m-index__itemcol {
  display: flex;
  flex-direction: column;
  padding: 4px 11px 10px;
}

.prev-m-index__itemcol--grow {
  flex: 1;
}

.prev-m-index__itemcol--meta {
  // todo
}

.prev-m-index__items {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 2 * #{$preview-index-spacer});
  margin-left: -$preview-index-spacer;
}

.prev-m-index__panel {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.prev-m-index__item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(50% - 2 * #{$preview-index-spacer});
  margin: 0 $preview-index-spacer 1rem $preview-index-spacer;
  background-color: $color7;
  border: 1px solid lighten($color6, 3);
  border-radius: 4px;
  user-select: none;

  &.gradient-border {
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }

  .prev-m-index__index--1 & {
    max-width: 360px;
  }

  &.prev-m-index__item--update {
    border-bottom: 3px solid $color5;
  }

   > a {
    display: flex;
  }

  canvas {
    display: block;
    width: 100%;
    opacity: 1;
  }
}

.prev-m-index__itemwrap {
  z-index: 1;
  width: 100%;
}

.prev-m-index__itemfooter {
  padding: 4px 8px;
  color: $color3;
  background-color: rgba(#3b3b3b, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  //background-image: linear-gradient(135deg, #474747 25%, #404040 25%, #404040 50%, #474747 50%, #474747 75%, #404040 75%, #404040 300%);
  //background-size: 11.31px 11.31px;

  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0.6;

  .prev-m-index__minibtn {
    margin-right: 1rem;
  }
}

.prev-m-index__itemrow {
  display: flex;
}

.prev-m-index__speclink {
  width: 18px;
  height: 18px;
  margin-right: 0.25rem;
  font-weight: 400;
  font-size: 11px;
  color: darken($color3, 8);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  background-color: rgba($color6, 0.4);
  cursor: pointer;
  transition: background-color 120ms ease-out, color 120ms ease-in;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: darken($color2, 3);
  }

  &:last-child {
    margin-right: 0;
  }
}

.prev-m-index__itemtitle {
  padding: 4px 0 6px;
  font-weight: 400;
  font-size: rem(18);
  color: darken($color3, 3);
  user-select: none;
}

.prev-m-index__metalbl {
  font-size: 11px;
  letter-spacing: 0.025rem;
  color: darken($color3, 5);
}


/*.prev-m-index__speclink--design {
  background-color: $color5;

  &:hover {
    background-color: darken($color5, 10);
  }
}

.prev-m-index__speclink--jira {
  background-color: #0049b0;

  &:hover {
    background-color: darken(#0049b0, 10);
  }
}

.prev-m-index__speclink--confluence {
  background-color: #003366;

  &:hover {
    background-color: darken(#003366, 10);
  }
}*/

.prev-m-index__minibtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;

  i {
    color: lighten($color7, 14);
  }

  &:hover {
    i {
      color: lighten($color7, 30);
    }
  }
}

/* TODO: place in file */
$borderWidth: 1px;

.gradient-border {
  position: relative;
  border-radius: $borderWidth;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * #{$borderWidth});
  left: calc(-1 * #{$borderWidth});
  z-index: 0;
  width: calc(100% + #{$borderWidth} * 2);
  height: calc(100% + #{$borderWidth} * 2);
  background: linear-gradient(60deg, #7a7a7a, #72809e, #885b75, #556266, #966873, #518171, #767e55, #8a7d5a);
  background-size: 300% 300%;
  border-radius: calc(2 * #{$borderWidth});
  opacity: 0;
  transition: opacity 240ms ease-out;
  animation: animatedgradient 3s ease alternate infinite;
}

@keyframes animatedgradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
