/* ==|====================
   Layout / Main
   ======================= */

.l-main--preview {
  margin-top: 4rem;

  .preview--index & {
    background-color: var(--main-bg);
    transition: background-color 320ms linear;
  }

  .dependency-mode & {
    background-color: var(--dependency-bg);
  }

}
